---
import Layout from "../layouts/Layout.astro";

---
<Layout>
    <div class="bg-neutral-900  min-h-[100vh] text-white p-24">
        <h3 class="text-6xl font-extrabold text-green-500"  transition:name="cataleyatitle">
            Cataleya QR
        </h3>
        <div class="flex mt-8">
            <img class="w-72 rounded-2xl mr-4" src="public/cataleya1.jpeg" transition:name="cataleyaimg"/>
            <div class="prose prose-invert text-lg">
                <p>
                    <b class="font-bold">Cataleya App</b> es una herramienta diseñada para simplificar y modernizar el control de accesos en eventos masivos, específicamente creada para un boliche en San Cristóbal. La aplicación surge como solución a los desafíos que enfrentaba su propietario, como la carga manual de datos y las limitaciones de plataformas no especializadas.
                </p>
                <p class="font-bold mt-24">
                    ¿Cómo Funciona?
                    <p>
                        Inicialmente, el dueño del boliche debía enviar manualmente las invitaciones con códigos QR a través de WhatsApp, lo cual resultaba engorroso y propenso a problemas como el marcado de mensajes como spam. Para resolver esto, diseñamos un sistema que permite:                        
                    </p>
                </p>
            </div>
        </div>
            <div class="flex mt-12">
                <div class="w-[600px] border border-white/10 p-6 mr-12 mb-12 rounded-2xl">
                    <h5 class="font-bold text-xl mb-4">Registro de usuarios:</h5>
                    <div class="flex">
                        <img class="w-40 rounded-2xl mr-4" src="public/cataleya2.jpeg" />
                        <p class="prose prose-invert text-lg">
                            Las personas interesadas en asistir al boliche envían una solicitud a través de una interfaz intuitiva donde ingresan sus datos personales: nombre, apellido, número de documento, y una foto.
                        </p>
                    </div>
                </div>
                <div class="w-[720px] h-[424px] border border-white/10 p-6 rounded-2xl">
                    <h5 class="font-bold text-xl mb-4">Gestión de solicitudes:</h5>
                    <div class="flex">
                        <img class="w-40 rounded-2xl mr-4" src="public/cataleya4.jpeg" />
                        <div>
                            <p class="prose prose-invert text-lg">
                                El administrador puede ver y gestionar todas las solicitudes desde tres listas:
                            </p>
        
                            <ul class="list-disc list-inside mt-2">
                                <li>Pendientes: Personas que aún no han sido aprobadas ni rechazadas.</li>
                                <li>Aceptados: Personas aprobadas para ingresar, quienes pueden descargar su QR.</li>
                                <li>Rechazados: Personas que no cumplieron con los criterios de entrada.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        <div class="w-[600px] border border-white/10 p-6 rounded-2xl">
            <h5 class="font-bold text-xl mb-4">Búsqueda y control:</h5>
            <div class="flex">
                <img class="w-40 rounded-2xl mr-4" src="public/cataleya3.jpeg" />
                <div>
                    <p class="prose prose-invert text-lg">
                        Una vez aprobada la solicitud, el QR se genera automáticamente, lo que facilita el acceso. Además, los administradores pueden buscar usuarios por nombre, apellido o documento, y verificar su información rápidamente.
                    </p>
                </div>
            </div>
        </div>
        <h5 class="font-bold mt-12 text-2xl mb-4">Impacto y Uso Actual:</h5>
        <p class="mt-2">La aplicación ha revolucionado el sistema de acceso del boliche:</p>
        <ul class="list-disc list-inside mt-2">
            <li>Más de <strong>6,000 usuarios registrados</strong>.</li>
            <li>Alrededor de <strong>3,000 accesos semanales</strong> gestionados de manera eficiente.</li>
            <li>Reducción significativa del tiempo de administración y mejora en la experiencia tanto para el dueño como para los asistentes.</li>
        </ul>
        <p class="mt-4">
            <strong class="font-bold">Cataleya App</strong> es un claro ejemplo de cómo una solución digital puede transformar procesos tradicionales en herramientas modernas, ágiles y efectivas.
        </p>
    </div>

</Layout>